@model IEnumerable<When2Watch.BLL.DTO.SeriesDTO>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="/css/bookFlipCard.css">

<h2>Series</h2>

<style media="screen">

    .mini-btn {
        font-size: 20px;
        margin: -30px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
    }

    div.a {
        width: 250px;
        height: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>

<form asp-action="Search" enctype="multipart/form-data">
    <input name="keyword"/>
    <input type="submit" value="Search"/>
</form>

<div class="row mb-4 wow fadeIn justify-content-center">
    @foreach (var item in Model)
    {
        <div class="card" style="margin-left:30px">
            <div class="img-container">
                <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2@(item.PosterPath)" alt="" />
            </div>
            <div class="card-details">
                <h3 style="margin-top:-30px">@item.Title</h3>
                <h5>IMDb: @item.RatingIMDb</h5>
                <div class="a">@item.Description</div>
                <br />
                <div style="text-align: center; position:fixed; bottom:10px;">
                    <a class="btn btn-info" asp-action="Index" asp-controller="Seasons" asp-route-seriesId="@item.Id" asp-route-seriesName="@item.Title">Seasons</a>
                    <a class="btn btn-info" asp-action="Index" asp-controller="Comments" asp-route-seriesId="@item.Id" asp-route-seriesName="@item.Title">Comments</a>
                </div>
            </div>
        </div>}
</div>